.Categories {
    font: inherit;
    display: inline-block;
    border: 1px solid darkgoldenrod;
    outline: none;
    font-size: 0.9rem;
    padding: 4px 8px;
    margin-top: 8px;
}

.Categories:focus {
    background-color: rgb(250, 250, 230);
    border: 1px solid darkred;
}

@media(min-width: 360px){
    .Categories{
        font-size: 1.2rem;
    }
}